.card-body {
  min-height: 100px;
}

.btn-delete-question:hover {
  color: red;
}

.answer-container {
  cursor: pointer;
}

.answer-container:hover {
  background-color: rgb(175, 119, 14);
}

.main-title {
  font-size: 8em;
}
